{% extends 'base.html'%}

{% block head%}
    <title>Edit Session</title>
{% endblock%}

{% block body%}
    <div class="container">
        
        <form action="/masteruser/edit/{{id}}" method = 'POST'>
            <label for="date">Date:</label>
            <input class =" form-control" type="text" name="date" id="date" value="{{data['date']}}">
            <br>
            <label for="start_time">Start Time:</label>
            <input class =" form-control" type="text" name="start_time" id="start_time" value="{{data['start_time']}}">
            <br>
            <label for="end_time">End Time:</label>
            <input class =" form-control" type="text" name="end_time" id="end_time" value="{{data['end_time']}}">
            <br>
            <label for="cost">Cost(Tokens):</label>
            <input class =" form-control" type="text" name="cost" id="cost" value="{{data['cost']}}">
            <br>
            <label for="details">Details:</label>
            <textarea class =" form-control" name="details" id="details" cols="30" rows="10" >{{data.details}}</textarea>
            <br>
            <input class="btn btn-primary"type="submit" value="Save">
        </form>
    </div>
    
{% endblock%}