{% extends 'base.html'%}

{%block head%}
    <title>User</title>
{%endblock%}

{% block body%}
<div class="container">
    <br>
    <div>    
        <h1 style="display: inline;">Details of User</h1>
        <a style="display: inline;" class = "btn btn-success float-right" href="{{ url_for('upi', user=user) }}">Buy Tokens</a>
        <a style="display: inline;" class = "btn btn-success float-right" href="/">Book your Session</a>
        <a style="display: inline;" class = "btn btn-success float-right" href="{{url_for('logout')}}">Logout</a>


   </div>

    <hr>
    <h3>Username:{{user['first_name']}} {{user['last_name']}}</h3>
    <h3>Age:{{user['age']}}</h3>
    <h3>Contact No.:{{user['contact_no']}}</h3>
    <h3>Tokens:{{user['tokens']}}</h3>
    <hr>
    <div>
        <h3>Your Booked Sessions</h3>
        {% if user['classes']|length==0 %}
            <h4>Book new sessions by clicking "Book your Session"</h4>
        {% else %}
            {% for elem in user['classes']%}
                <ol>
                    <li>Date:{{elem[0]}}   Timings:{{elem[1]}}</li>
                </ol>
            {% endfor %}
        {% endif%}
    </div>
</div>

{%endblock%}